extends layout

block content
	h1= title
	p Welcome to happening

	// Wrapper
	#wrapper

		// EVENT INFO
		h2 Event Information
		p
			strong Event Name:
			|	<span id="eventName"></span>
			br
			strong Location:
			|	<span id="location"></span>
			br
			strong Date:
			|	<span id="date"></span>
			br
			strong Time:
			|	<span id="time"></span>
		// /EVENT INFO

		// EVENT LIST
		h2 Event List
		#eventList
			table
				thead
					th Event
					th Location
					th Date
					th Time
				tbody
		// /EVENT LIST

		// ADD EVENT
		h2 Add Event
		#addEvent
			fieldset
				input#eventNameInput(type='text', placeholder='Event Name')
				br
				input#eventLocationInput(type='text', placeholder='Event Location')
				br
				input#eventDateInput(type='text', placeholder='Event Date')
				br
				input#eventTimeInput(type='text', placeholder='Event Time')
				br
				button#addEventButton Add Event
		// /ADD EVENT

	// /WRAPPER

